ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:hover {background-color: #0000FF}

.dropdown:hover .dropdown-content {
    display: block;
}

td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
	width: 275px;
}

tr:nth-child(even) {
    background-color: #dddddd;
	}


table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
   background-color:#fff;
}

table#t01 th {
    background-color: black;
    color: white;
}

table.center {
	
	width: 1300px;
	height: 500 px;
	font-family: arial, sans-serif;
    border-collapse: collapse; 
}